{{ define "head" }}
  {{ partial "feed-link.html" . }}
{{ end }}

{{ define "header" }}
  <header class="section-header">
    <div class="section-nav">
      <h1 class="home-link">
        <a data-nospan href="/" class="never-underline"><abbr title="Hello">👋</abbr></a>
        <a href="/">I&rsquo;m Nathan</a>
      </h1>
      <p>
        Here are all the posts on this site, in reverse chronological order.
        Some are &ldquo;blog&nbsp;posts&rdquo; I&rsquo;ve written and some are
        &ldquo;link&nbsp;posts&rdquo; which link to other sites on the web. 🫡
      </p>
    </div>
  </header>
{{ end }}

{{ define "main" }}
  <main class="section">
    <header>
      <h1>{{ .Title }}</h1>
      {{ with .Description }}
        <h2>{{ . }}</h2>
      {{ end }}
    </header>

    {{ with .Content }}
      <div class="content">
        {{ . }}
      </div>
    {{ end }}

    <div class="listing">
      <dl class="legend">
        <div>
          <dt>⭐️</dt>
          <dd>means &ldquo;blog post&rdquo; I&rsquo;ve written</dd>
        </div>
        <div>
          <dt>🔗</dt>
          <dd>
            means &ldquo;link post&rdquo; linking to another site on the web,
            <i>that I&rsquo;m not affiliated with,</i> which is cool and you should
            check out
          </dd>
        </div>
      </dl>

      <ol class="month-list">
        {{ range (where site.RegularPages "Section" "==" .Section).GroupByDate "January 2006" }}
          <li>
            <h3>{{ .Key }}</h3>
            <ol class="article-list">
              {{ range .Pages.ByDate.Reverse }}
                <li>
                  <p class="permalink">
                    {{- if .Params.angry }}
                      <abbr title="caution link post">⚠️</abbr>
                    {{- else if .Params.externalUrl }}
                      <abbr title="link post">🔗</abbr>
                    {{- else }}
                      <abbr title="blog post">⭐️</abbr>
                    {{- end }}

                    <a href="{{ .Permalink }}">{{ .Title }}</a>

                    <span class="meta">
                      –
                      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">
                        {{ .Date.Format "2 Jan, 2006" }}
                      </time>
                    </span>
                  </p>
                  {{- with .Params.externalUrl }}
                    {{ $url := urls.Parse . }}
                    <p class="host">
                      Links to
                      <a href="{{ . }}" class="never-underline">{{ $url.Host }}</a>
                    </p>
                  {{- end }}
                  {{- if .Params.angry }}
                    <p class="host">
                      Just so it's clear: I did not make this module
                      office unit nor did I write a long-form article
                      about it. This is a link to another site on the web.

                      I got a super angry and confused email about this link post,
                      <a href="{{ .Permalink }}">read more about what happened…</a>
                    </p>
                  {{- end }}
                </li>
              {{ end }}
            </ol>
          </li>
        {{ end }}
      </ol>
    </div>
  </main>
{{ end }}
